/* Original KARA GROUP Preloader Styles */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  animation: rotate 2.0s linear infinite;
}

.object {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  /* border-radius: 100%; */
  position: absolute;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

#object_one {
  top: 0;
  left: 17px;
  animation-delay: -1.1s;
}

#object_two {
  top: 17px;
  right: 0;
  animation-delay: -1.0s;
}

#object_three {
  bottom: 0;
  left: 17px;
  animation-delay: -0.9s;
}

#object_four {
  top: 17px;
  left: 0;
  animation-delay: -0.8s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}